@charset "UTF-8";

@font-face {
  font-family: "muckraker";
  src:url("fonts/muckraker.eot");
  src:url("fonts/muckraker.eot?#iefix") format("embedded-opentype"),
    url("fonts/muckraker.woff") format("woff"),
    url("fonts/muckraker.ttf") format("truetype"),
    url("fonts/muckraker.svg#muckraker") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "muckraker" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "muckraker" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-script:before {
  content: "\62";
  vertical-align: middle;
  font-size: 14pt;
}
.icon-img:before {
  content: "\63";
  vertical-align: middle;
  font-size: 14pt;
}
.icon-a:before {
  content: "\64";
  vertical-align: middle;
  font-size: 14pt;
}
.icon-div:before {
  content: "\66";
  vertical-align: middle;
  font-size: 14pt;
}
.icon-iframe:before {
  content: "\67";
  vertical-align: middle;
  font-size: 14pt;
}
.icon-html:before,
.icon-head:before,
.icon-body:before {
  content: "\61";
  vertical-align: middle;
  font-size: 14pt;
}
.icon-canvas:before {
  content: "\65";
  vertical-align: middle;
  font-size: 14pt;
}

.icon-form:before {
  content: "\69";
  vertical-align: middle;
  font-size: 14pt;
}

.icon-settings:before {
  content: "\68";
  font-size: 18px;
}
